<!--<div class="ahs-list-overview">
    <div class=" mdl-color-text--blue-grey-400">
        <h3><i class=" material-icons f-left m-r-5">dvr</i> Overview</h3>
        <p>@ViewBag.Description</p>
        <ul class="ahs-list-overview__list">
            <li><a asp-controller="Organisation" asp-action="Index"><i class="material-icons">list</i>List of items</a></li>
            <li><a asp-controller="Organisation" asp-action="Create"><i class="material-icons">add</i>Create a new item</a></li>
            <li><a href=""><i class="material-icons">file_download</i>Export items</a></li>
        </ul>
    </div>
</div>-->


                    <div class="row">
            
                            <div class="panel-body">
                                <p>@ViewBag.Description</p>

                                <ul class="ahs-list-overview__list">
                                    <li><a asp-controller="Organisation" asp-action="Index"><i class="fa fa-list fa-fw"></i>List of items</a></li>
                                    <li><a asp-controller="Organisation" asp-action="Create"><i class="fa fa-plus fa-fw"></i>Create a new item</a></li>
                                    <li><a href=""><i class="fa fa-upload fa-fw"></i>Export items</a></li>
                             </ul>
                                
                           
                    </div>
                    </div>
               
