@model overnight.Models.ViewModels.ActionOrganisationViewModel
@{
    ViewBag.Title = "Organisation Management";
    ViewBag.SubTitle = "Manage all the organisations on your SAAS platform";
    ViewBag.Description = "Create an organisation via the form or go back to the list of organisations.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_QuickActionsPartial")
</div>

 <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3><i class="fa fa-edit fa-fw"></i> Edit</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">


                 <p>Do you wish to @Model.Action the organisation <b> @Model.BaseEntity.Name</b>?</p>
                <form asp-controller="Organisation" asp-action="Delete" method="post" asp-antiforgery="true">
                <input asp-for="BaseEntity.Id" type="hidden">
                <input asp-for="BaseEntity.Name" type="hidden">
                <input asp-for="BaseEntity.Description" type="hidden">
                <input asp-for="ActionType" type="hidden">
                <button type="submit" class="btn btn-default">@Model.Action</button>
            </form>

                                           
                                     

                                    </div>
                                    
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->