@model overnight.Models.Organisation
@{
    ViewBag.Title = "Organisation Management";
    ViewBag.SubTitle = "Manage all the organisations on your SAAS platform";
    ViewBag.Description = "Edit an existing organisation via the form or go back to the list of organisations.";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_QuickActionsPartial")
</div>

 <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3><i class="fa fa-edit fa-fw"></i> Edit</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">


                                        <form role="form" asp-controller="Organisation" asp-action="Edit" method="post" asp-antiforgery="true">                                       
                                            <div class="form-group">
                                                <label asp-for="Name">Name</label>
                                                <input class="form-control" placeholder="Enter name" asp-for="Name">
                                            </div>  

                                            <div class="form-group">
                                                <label asp-for="Description">Description</label>
                                                <input class="form-control" placeholder="Enter the description" asp-for="Description">
                                            </div>   

                                            <button type="submit" class="btn btn-default">Update</button>
                                        </form>


                                    </div>
                                    
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->