@model ICollection<overnight.Models.Organisation>
@{
    ViewBag.Title = "Overnachtingen";
    ViewBag.SubTitle = "Beheer alle overnachtingen via dit platform";
    ViewBag.Description = "Selecteer een overnachting om te bewerken";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}
<div>
    @Html.Partial("_QuickActionsPartial")

    <div class="row">
                        <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               <h3><i class="fa fa-desktop fa-fw"></i> Overview</h3>
                            </div>
                            <div class="panel-body">
                                @Html.Partial("_ListPartial", @Model)
                                
                            </div>
                        
                        </div>
                    </div>
                    </div>

         
</div>





                  