<!doctype html>
<!-- [if lt IE 7]><html dir="ltr" lang="nl-be" class="no-js lt-ie7"><![endif]-->
<!-- [if lt IE 8]><html dir="ltr" lang="nl-be" class="no-js lt-ie8"><![endif]-->
<!-- [if lt IE 9]><html dir="ltr" lang="nl-be" class="no-js lt-ie9"><![endif]-->
<!-- [if lt IE 10]><html dir="ltr" lang="nl-be" class="no-js lt-ie10"><![endif]-->
<!-- [if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="nl-be" class="no-js mdl-js" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - WDAD4 - Arteveldehogeschool</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="author" content="@ViewBag.Author">
    <meta name="copyright" content="Copyright 2003-16 Arteveldehogeschool. Alle rechten voorbehouden.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="~/css/backoffice/main.css">

     <link href="~/css/backoffice/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/css/backoffice/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/css/backoffice/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/backoffice/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/css/backoffice/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/css/backoffice/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div id="wrapper">

      @* Header Partial *@
      @Html.Partial("_Header")

      @* Sidebar Partial *@
      @Html.Partial("_Sidebar")

      @* Main Content *@
    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@ViewBag.Title</h1>
                </div>
            </div>

           @RenderBody()

        </div>
    </div>

    @* Modal Popup Partial *@
    @Html.Partial("_Modal")
</div>

    @* Bottom Scripts *@
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <!-- jQuery -->
<script src="~/js/backoffice/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/js/backoffice/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="~/js/backoffice/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="~/js/backoffice/startmin.js"></script>


    @* Custom scripts specified in the views*@
    @RenderSection("scripts", required: false)

  </body>
</html>