@model ICollection<overnight.Models.Location>
@{
    ViewBag.Title = "Location Management";
    ViewBag.SubTitle = "Manage all your locations via this platform";
    ViewBag.Description = "Select an location to edit ...";
    Layout = "~/Areas/Backoffice/Views/Shared/_Layout.cshtml";
}

@if (Model != null && Model.Count() > 0)
{
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable is-upgraded ahs-table" data-upgraded=",MaterialDataTable">
        <colgroup>
          <col class="auto-cell-size p-r-20">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var location in Model)
          {
            <tr data-id="location-@location.Id">
              <td>@location.Name</td>
              <td>@location.Description</td>
              <td>@location.CreatedAt</td>
              <td>
                <a asp-controller="location" asp-action="Edit" asp-route-id="@location.Id">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                </a>
                @if (@location.DeletedAt != null)
                {
                    <a asp-controller="location" asp-action="Delete" asp-route-id="@location.Id" asp-route-actionType="5" data-is-softdelete="true">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                else
                {
                    <a asp-controller="location" asp-action="Delete" asp-route-id="@location.Id" asp-route-actionType="4">
                      <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                    </a>
                }
                <a asp-controller="location" asp-action="Delete" asp-route-id="@location.Id" asp-route-actionType="3">
                  <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete_forever</i>
                </a>
              </td>
            </tr>
          }
        </tbody>
      </table>
}
else
{
    <p>No locations in the database!</p>
}